/* --- Tags List ----------------------------------------------------------- */

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  list-style: none;
}

