@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./gothic-a1-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./gothic-a1-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./gothic-a1-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./gothic-a1-700.woff2') format('woff2');
}
