/* --- Fonts --------------------------------------------------------------- */

@import '../../assets/fonts/gothic-a1/gothic-a1.css';

/* Atkinson Hyperlegible — body text */
@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local('Atkinson Hyperlegible Regular'),
    local('AtkinsonHyperlegible-Regular'),
    url('/fonts/AtkinsonHyperlegibleNext-Regular.woff2') format('woff2');
  font-family: 'Atkinson Hyperlegible';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    local('Atkinson Hyperlegible Italic'),
    local('AtkinsonHyperlegible-Italic'),
    url('/fonts/AtkinsonHyperlegibleNext-RegularItalic.woff2') format('woff2');
  font-family: 'Atkinson Hyperlegible';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    local('Atkinson Hyperlegible Bold'),
    local('AtkinsonHyperlegible-Bold'),
    url('/fonts/AtkinsonHyperlegibleNext-Bold.woff2') format('woff2');
  font-family: 'Atkinson Hyperlegible';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src:
    local('Atkinson Hyperlegible Bold Italic'),
    local('AtkinsonHyperlegible-BoldItalic'),
    url('/fonts/AtkinsonHyperlegibleNext-BoldItalic.woff2') format('woff2');
  font-family: 'Atkinson Hyperlegible';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src:
    local('Atkinson Hyperlegible Medium'),
    local('AtkinsonHyperlegible-Medium'),
    url('/fonts/AtkinsonHyperlegibleNext-Medium.woff2') format('woff2');
  font-family: 'Atkinson Hyperlegible';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    local('Atkinson Hyperlegible SemiBold'),
    local('AtkinsonHyperlegible-SemiBold'),
    url('/fonts/AtkinsonHyperlegibleNext-SemiBold.woff2') format('woff2');
  font-family: 'Atkinson Hyperlegible';
  font-display: swap;
}

